.log-in-title {
	background: linear-gradient(
		118.06deg,
		#ff2929 -145.91%,
		rgba(255, 130, 103, 0.59) 167.08%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: 600;
	letter-spacing: -0.03em;
	font-weight: bold;
	margin: 0;
	font-size: 2.3em;
}

.forgot {
	color: rgba(134, 202, 224, 1);
	font-size: 1.1em;
}

.create {
	color: #aeaeae;
	font-size: 1.1em;
}

.createacc {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
	color: rgba(174, 174, 174, 1);
}

.OR {
	font-family: 'Montserrat', sans-serif;
	color: #ff5c3896;
	font-size: 1.1em;
	font-weight: 800;
}

.rightpanel {
	background: #efeeee;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 100px 50px;
	height: 100%;
	text-align: center;
	margin-bottom: 3em;
}

::placeholder {
	font-family: 'Montserrat', sans-serif;
	color: #aeaeae;
}

.container {
	margin: auto;
	margin-top: 14em;
	background: #efeeee;
	opacity: 0.9;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 10px 10px 16px rgba(209, 205, 199, 0.5),
		-10px -10px 16px rgba(255, 255, 255, 0.5);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	right: 0;
	width: 50%;
	z-index: 2;
}

.overlay-right {
	left: 0;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}

.overlay {
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	background-image: url('https://images.unsplash.com/photo-1580508244245-c446ca981a6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80');
	background-size: auto;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}

.social-container {
	margin: 20px 0;
	margin-bottom: 45px;
}

.social-container img {
	// right: 1em;
	float: left;
}

.social-container button {
	position: relative;
	color: #aeaeae;
	border: 0px;
	background: #efeeee;
	box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.5),
		6px 6px 16px rgba(209, 205, 199, 0.5);
	border-radius: 20px;
	padding: 12px 45px;
	font-size: 1.4em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	height: 46px;
	width: 170px;
}

.social-container button:hover {
	background: #efeeee;
	box-shadow: inset -6px -6px 16px rgba(255, 255, 255, 0.5),
		inset 6px 6px 16px rgba(209, 205, 199, 0.5);
	border-radius: 20px;
}

.login {
	background: linear-gradient(
		102.88deg,
		rgba(255, 41, 41, 0.5) 33.88%,
		rgba(255, 130, 103, 0.295) 171.9%
	);
	box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.5),
		6px 6px 16px rgba(209, 205, 199, 0.5);
	border-radius: 20px;
	border: 0;
	color: #ffffff;
	padding: 12px 45px;
	font-size: 0.85em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5em;
	height: 40px;
	width: 223px;
	font-family: 'Montserrat';
}

.login:hover {
	background: linear-gradient(
		102.88deg,
		rgba(255, 41, 41, 0.5) 33.88%,
		rgba(255, 130, 103, 0.295) 171.9%
	);
	box-shadow: inset -6px -6px 16px #ffa1a1, inset 6px 6px 16px #d27777;
	border-radius: 20px;
}
