.FeatureCard {
    display: flex;
    position: relative;
    width: 337px;
    height: 207px;
    background: #EFEEEE;
    box-shadow: -4px -4px 16px rgba(255, 255, 255, 0.5),
    4px 4px 16px rgba(209, 205, 199, 0.5);
    border-radius: 22px;
}